body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
 
  color: rgb(0, 0, 0);

  font-family: Arial, sans-serif;
  flex-direction: column;
}

.hidden {
  display: none;
}

#portada{
  background-image: url("./img/sanvalentinportada.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  height: 100vh;
  width: 100%;
}

#contenedor{
  font-size: large;
  font-weight: bold;
  text-shadow: 2px 2px 10px #fff;
  background-image: url("./img/sanvalentin.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  filter: saturate(3);
}

.groupButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  
}
.blockButton {
  width: 50%;
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blockButton > button {
  position: absolute;
  padding: 10px 20px;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  font-weight: bold;

}

.blockButton > button:hover {
  filter: saturate(2);
}

#movableButton {
  background-color: rgb(255, 8, 0);
  transition: left 0.3s ease-in-out, top 0.2s ease-in-out;
}

#fixedButton {
  background-color: green;
}

#gifContainerImg {
  width: auto;
  height: auto;
}
